div.hotswap_matches {
    position: relative;
    z-index: 1;
    padding: 3px;
    text-transform: uppercase;
    display: inline-block;
}

.hotswappost, .hotswappost :not(.highlightSelectorButton) {
    background-color: #F6F7F9 !important;
    background-image: none !important;
    color: #F6F7F9 !important;
    border: 0 none !important;
    paddingg: 5px;
}

.hotswappost img {
    display: none !important;
}

.hotswappost .fwb a[data-hovercard] {
    padding: 3px;
    display: inline-block;
    background-color: white !important;
}

.theActualBox {
  /*background-color: #f8ca0b;*/
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

.swapHeading {
  /*font-size: +3;*/
  margin-top: 3px;
}
.theShowButton {
  width: 500px;
  height: 30px;
  /*margin-left: calc(50% - 75px);*/
  margin-top: : 10px;

  display: inline-block;
  zoom: 1;
  line-height: normal;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  font-family: inherit;
  font-size: 100%;
  padding: 0.5em 1em;
  color: #444; /* rgba not supported (IE 8) */
  color: rgba(0, 0, 0, 0.80); /* rgba supported */
  border: 1px solid #999;  /*IE 6/7/8*/
  border: none rgba(0, 0, 0, 0);  /*IE9 + everything else*/
  background-color: #E6E6E6;
  text-decoration: none;
  /*border-radius: 2px;*/
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;

  background-color: rgb(243, 107, 126);
  color: #fff;
}

.theShowButton:hover,
.theShowButton:focus {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000',GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(40%, rgba(0,0,0, 0.05)), to(rgba(0,0,0, 0.10)));
    background-image: -webkit-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
    background-image: -moz-linear-gradient(top, rgba(0,0,0, 0.05) 0%, rgba(0,0,0, 0.10));
    background-image: -o-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
    background-image: linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
}
.theShowButton:focus {
    outline: 0;
}
.theShowButton:active {
    box-shadow: 0 0 0 1px rgba(0,0,0, 0.15) inset, 0 0 6px rgba(0,0,0, 0.20) inset;
    border-color: #000\9;
}

.theShowButton:active {
	position:relative;
	top:1px;
}

.theButtonDiv {
  background-color: #F6F7F9;
}

#theRegistrationFrame {
   display: none;
}
